*.aux
*.cut
*.log
*.out
*.pdf
*.bbl
*.blg
*~
\.\#*
\#*
*.swo
*.swp

output.txt*
Benchmark
Test

karst_*

__pycache__/
*.pyc

compiled/

# Do not commit raw data files! Only commit gzipped files.
*.tab
